<div class="container">
  <form (submit)="createShare();" #formCreate="ngForm">
    <h1>THÊM MỚI</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Tên chiến dịch</label>
          <input type="text" class="form-control" #name="ngModel" placeholder="Vui lòng nhập tên chiến dịch"
            [(ngModel)]="nameCamp" name="name" required>
          <div *ngIf="name.errors && (name.dirty || name.touched)" class="thongbao">
            <div [hidden]="!name.errors.required">
              <i class="fa fa-times-circle" style="color: red;size:12px"></i> Xin vui lòng nhập đủ dữ liệu!
            </div>
            <!-- <div [hidden]="!title.errors.minlength">
                Title must be at least 5 characters long.
              </div>
              <div [hidden]="!title.errors.maxlength">
                Title cannot be more than 30 characters long.
              </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="url">Link chiến dịch</label><input type="text" #url="ngModel" class="form-control"
          placeholder="Mời bạn nhập link chiến dịch" [(ngModel)]="linkChiendich" name="linkChiendich" required
          pattern="https?://.+">
        <div *ngIf="url.errors && (url.dirty || url.touched )" class="thongbao">
          <div [hidden]="!url.errors.required">
            <i class="fa fa-times-circle" style="color: red;size:12px"></i> Xin vui lòng nhập đủ dữ liệu!
          </div>
          <div [hidden]="!url.errors.pattern">
            <i class="fa fa-times-circle" style="color: red;size:12px"></i> Phải là một đường dẫn hợp lệ
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Độ tuổi</label>
          <select class="form-control" id="sel1" [(ngModel)]="age" name="age" required>
            <option value="true">Từ 18 đến 20 tuổi </option>
            <option value="false">Trên 20 tuổi</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="sel1">Giới tính</label>
          <select class="form-control" id="sel1" [(ngModel)]="sex" name="sex" required>
            <option value="true">Nam</option>
            <option value="false">Nữ</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
          <label>Tổng số lượt review</label>
          <input type="text" class="form-control" placeholder="Vui lòng nhập tổng số lượt bình luận" #num="ngModel"
            [(ngModel)]="currentShare" name="num" required pattern="^[0-9]\d*$" />
          <div *ngIf="num.errors && (num.dirty || num.touched)" class="thongbao">
            <div [hidden]="!num.errors.required">
              <i class="fa fa-times-circle" style="color: red;size:12px"></i>Xin vui lòng nhập đủ dữ liệu!
            </div>
            <div [hidden]="!num.errors.pattern">
              <i class="fa fa-times-circle" style="color: red;size:12px"></i>Chỉ được nhập số
            </div>
          </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="formCreate.invalid">Tạo mới</button>
  </form>
</div>