<div class="container">
  <h1>CẬP NHẬT</h1>
  <div class="row">
    <div class="col-md-4">
      <label for="nameCamp">Tên chiến dịch</label>
      <input type="text" #title="ngModel" class="form-control form-control-sm" placeholder="Mời bạn nhập tên chiến dịch"
        [(ngModel)]="nameCamp" name="nameCamp" required>
      <div *ngIf="title.errors && (title.dirty || title.touched)" class="thongbao">
        <div [hidden]="!title.errors.required">
          <i class="fa fa-times-circle" style="color: red;size:12px"></i> Xin vui lòng nhập đủ dữ liệu!
        </div>
        <!-- <div [hidden]="!title.errors.minlength">
            Title must be at least 5 characters long.
          </div>
          <div [hidden]="!title.errors.maxlength">
            Title cannot be more than 30 characters long.
          </div> -->
      </div>
    </div> <br>
    <div class="col-md-4">
      <label>Link chiến dịch</label><input data-placement="top" title="Xin lỗi không thể sửa đường link chiến dịch"
        value="44" type="text" class="form-control form-control-sm" [(ngModel)]="linkChiendich" name="linkChiendich"
        [disabled]=true>
    </div> <br>
    <div class="col-md-4">
      <label>Tổng số lượt like</label>
      <input type="text" class="form-control" placeholder="Vui lòng nhập tổng số lượt bình luận" #num="ngModel"
        [(ngModel)]="currentLike" name="num" required pattern="^[0-9]\d*$" />
      <div *ngIf="num.errors && (num.dirty || num.touched)" class="thongbao">
        <div [hidden]="!num.errors.required">
          <i class="fa fa-times-circle" style="color: red;size:12px"></i> Xin vui lòng nhập đủ dữ liệu!
        </div>
        <div [hidden]="!num.errors.pattern">
          <i class="fa fa-times-circle" style="color: red;size:12px"></i> Chỉ được nhập số
        </div>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-danger" (click)="updateLike()">Cập nhật </button>
</div>