<div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <button type="button" class="btn  btn-outline-primary btn-block" routerLink="index-review" routerLinkActive="router-link-active" >Danh sách chiến dịch  </button>
      </div>
      
      <div class="col-lg-6 col-sm-12">
        <button type="button" class="btn  btn-outline-primary btn-block" routerLink="create-review" routerLinkActive="router-link-active">Tạo mới chiến dịch  </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
